{
	"presets": [["@babel/preset-env", {
	"shippedProposals": true,
	"targets": {
        "node": "current"
      }
    }]],
	"env": {
	  "production": {
		"presets": [
		  "minify",
		  ["@babel/env", {
			"targets": {
			  "node": "current"
			}
		  }]
		]
	  }
	}
  }
