[Service]
ExecStart=/usr/bin/node /srv/drivers/cardreader-acr122u/index.js
WorkingDirectory=/srv/drivers/cardreader-acr122u/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cardreader
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
